<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Proszę o udzielenie odpowiedzi</h1>
</div>

<form role="form" action="/save" method="post">
    <h3>Dane osobowe</h3>
    <div class="form-group">
        <label for="first-name">Imię:</label>
        <input type="text" class="form-control" id="first-name" name="first-name" required>
    </div>
    <b>Płeć</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q1" value="M" checked>Mężczyzna
        </label>
        <label class="radio-inline">
          <input type="radio" name="q1" value="K">Kobieta
        </label>
    </div>
    <div class="form-group">
        <label for="year-of-study">Rok studiów:</label>
        <input type="number" class="form-control" id="age" name="year-of-study" min="1" max="6" required>
    </div>
    <div class="form-group">
        <label for="email">Adres email:</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="district">Dzielnica zamieszkania:</label>
      <select class="form-control" id="district" name="district">
      {% for element in districtsdata %}
        <option value="{{ element.id }}">{{element.name}}</option>
      {% endfor %}
      </select>
    </div>
    <h3>Informacje o wynajmowanym mieszkaniu</h3>
   <div class="form-group">
      <label for="searching-time">Ile czasu zajęło ci znalezienie obecnego mieszkania:</label>
      <select class="form-control" id="searching-time" name="searching-time">\
       {% for element in searchingtimedata %}
        <option value="{{ element.id }}">{{element.name}}</option>
      {% endfor %}
      </select>
    </div>
    <div class="form-group">
        <label for="cost">Ile wynoszą twoje miesięczne wydatki mieszkaniowe (czynsz, odstępne, media):</label>
        <input type="number" class="form-control" id="cost" name="cost" min="0" max="10000" required>
    </div>
    <b>Oceń poziom twojego zadowolenia z wynajmowanego mieszkania</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q2" value="1">1 (Niezadowolony)
        </label>
        <label class="radio-inline">
          <input type="radio" name="q2" value="2">2 (Raczej niezadowolony)
        </label>
        <label class="radio-inline">
          <input type="radio" name="q2" value="3" checked>3 (Trudno powiedzieć)
        </label>
        <label class="radio-inline">
          <input type="radio" name="q2" value="4">4 (Raczej zadowolony)
        </label>
        <label class="radio-inline">
          <input type="radio" name="q2" value="5">5 (Zadowolony)
        </label>
    </div>
    <h3>Informacje o poszukiwaniach mieszkania</h3>
    <b>Z jakich źródeł informacji korzystałeś w trakcie poszukiwań mieszkania</b>
    <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" name="c1" value="1">Portale z ogłoszeniami lokalnymi
          <input type="hidden" name="c1" value="0">
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="c2" value="1">Biuro pośrednictwa
          <input type="hidden" name="c2" value="0">
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="c3" value="1">Studenckie bazy mieszkaniowe
          <input type="hidden" name="c3" value="0">
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="c4" value="1">Portale społecznościowe
          <input type="hidden" name="c4" value="0">
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="c5" value="1">Od znajomych
          <input type="hidden" name="c5" value="0">
        </label>
    </div>
    <div class="form-group">
      <label for="search-amount">Ile mieszkań oglądałeś zanim zdecydowałeś/-aś się na wynajem:</label>
      <select class="form-control" id="search-amount" name="search-amount">
      {% for element in searchingamount %}
        <option value="{{ element.id }}">{{element.name}}</option>
      {% endfor %}
      </select>
    </div>
    <b>Na jakie spośród wymienionych trudności natrafiłeś w rozważanych ofertach wynajmu:</b>
    <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" name="c6" value="1">Brak możliwości wynajęcia studentom
          <input type="hidden" name="c6" value="0">
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="c7" value="1">Brak możliwości wynajmu parom/małżeństwom z dzieckiem
          <input type="hidden" name="c7" value="0">
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="c8" value="1">Zakaz palenia/spożywania alkoholu
          <input type="hidden" name="c8" value="0">
        </label>
         <label class="checkbox-inline">
          <input type="checkbox" name="c9" value="1">Zakaz posiadania zwierząt w mieszkaniu
          <input type="hidden" name="c9" value="0">
         </label>
         <label class="checkbox-inline">
          <input type="checkbox" name="c10" value="1">Zbyt wysoki poziom opłat
          <input type="hidden" name="c10" value="0">
         </label>
    </div>
    <div class="form-group">
        <label for="others">Inne nieuwzględnione:</label>
        <input type="text" class="form-control" id="others" name="others">
    </div>
    <button type="submit" class="btn btn-info">Save</button>
</form>

{% endblock %}

