<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Witamy w kwestionariuszu</h1>
      <h2>Badanie sytuacji studentów poszukujących mieszkania do wynajęcia w Krakowie</h2>
    <p>Przeprowadzane badanie ma umożliwić analizę sytuacji i zachowań studentów poszukujących mieszkania do wynajęcia na terenie miasta Kraków.</p>
    <p>Do badania zapraszamy osoby, które wynajmują w Krakowie mieszkanie w związku z trwającymi obecnie studiami wyższymi.</p>
  </div>

  <div class="page-header">
    <h1>Następny krok</h1>
  </div>
  <p>
    <a href="/form" class="btn btn-primary" role="button">Przejdź do formularza</a>
    <a href="/result" class="btn btn-primary" role="button">Przegląd wyników</a>
  </p>


{% endblock %}

